{% extends '::base.html.twig' %}
{% block headline %}
    {% if action == "new" %}
        <div class="right" style="float: right">
            <a class="btn btn-primary" href="{{ path('lists') }}">Retour à mes listes</a>
        </div>
        Nouvelle liste

    {%  else %}
        <div class="right" style="float: right">
            <!-- Button trigger modal delete-->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                <span class="icon-trash"></span> Supprimer
            </button>
            <a class="btn btn-primary" href="{{ path('lists') }}">Retour à mes listes</a>
            <a class="btn btn-default" href="{{ path('lists_show', { 'id': entity.id }) }}">Voir cette liste</a>
        </div>
        Edition de '{{ entity.title }}'

    {% endif %}
{% endblock headline %}

{% block content_content%}

    <!-- Modal delete -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Suppression</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr de vouloir supprimer "{{ entity.title }}" ?<br />
                    Cette action est irréversible.<br />

                    {{ form_start(delete_form)}}
                    <button type="submit" class="btn btn-danger">
                        <span class="icon-trash"></span> Supprimer
                    </button>
                    {{ form_rest(delete_form)}}
                    {{ form_end(delete_form)}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
{% if action == "new" %}
    {% set actionPost = path('lists_create') %}
{%  else %}
    {% set actionPost = path('lists_update', {'id': entity.id}) %}
{% endif %}
<form action="{{ actionPost }}" method="post" {{ form_enctype(form) }}>

    {{ form_row(form.title) }}
    {{ form_row(form.subTitle) }}
    {{ form_row(form.description) }}
    {{ form_row(form.event) }}
    <div class="hide">
        {{ form_row(form.type) }}
    </div>

    {{ form_row(form.picture) }}

    <div>
    <h4>A qui appartient cette liste ?</h4>
    <div id="owners" class="container-fluid"  data-prototype="{{ form_widget(form.owners.vars.prototype)|e }}">
    {% for owner in form.owners %}

        <div class="row">
            <div class="col-md-11">
                {{ form_row(owner.firstName) }}
            </div>
            <div class="col-md-1"><a class="deleteOwner btn btn-danger" href="#"><i class="fa fa-trash"></i></a></div>
        </div>
    {% endfor %}
    </div>
    <a class="btn btn-default" href="#" id="add_owner_link">Ajouter un nom</a>
    </div>
    <br />
    {% if entity.owners|length == 0 %}<div class="hide">{{ form_row(form.owners) }}</div>{% endif %}

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-success">
        <span class=""></span> Enregistrer
    </button>

    {{ form_end(form) }}
</form>



<div id="ownerTemplate" class="hide">
    <div class="row">
        <div class="col-md-11 ownerForm">
        </div>
        <div class="col-md-1">
            <a class="deleteOwner btn btn-danger" href="#">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block page_script %}
<script type="text/javascript" >

function addOwnerForm($collectionHolder) {
    // Get the data-prototype and the index
    var prototype = $collectionHolder.data('prototype');

    var index = $collectionHolder.data('index');
    console.log(index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);
    $('#ownerTemplate .ownerForm').html(newForm);
    var form = $('#ownerTemplate').children();

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an div
    form.clone().appendTo($collectionHolder);
    $('#ownerTemplate .ownerForm').html();
}

$(document).ready(function() {
    ////
    // Delete owner
    $('#owners').on('click', '.deleteOwner', function(e) {
        e.preventDefault();
        $(this).parent().parent().remove();
    });

    ////
    // Add owner
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item and finally, add the form
    $('#owners').data('index', $(this).find(':input').length);
    $('#add_owner_link').on('click', function(e) {
        e.preventDefault();
        addOwnerForm($('#owners'));
    });
});


</script>
{% endblock %}