{% extends '::base.html.twig' %}

{% block headline %}
    <div class="right" style="float: right">
        <a class="btn btn-primary"
            href="{{ path('lists_new') }}"
            title="Créer une nouvelle liste">
            <i class="fa fa-list"></i> <i class="fa fa-plus"></i> Créer une liste
        </a>
    </div>
    Mes listes
{% endblock headline %}

{% block content_content %}

    {% for entity in entities %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="float: right" >
                    {%  if not entity.owners is empty %}
                        Liste de
                    {% endif %}
                    {% for user in entity.owners %}
                        {% if user != entity.owners|first and  user == entity.owners|last %}
                            {% if entity.owners|length == 2 %}
                                et
                            {% else %}
                                ,
                            {% endif %}
                        {% endif %}
                        {{ user.firstname|capitalize }} {{ user.lastname|capitalize }}
                    {% endfor %}
                </div>
                <h1 class="panel-title">
                    {{ entity.title }}
                    <small>{{ entity.subTitle }}
                        {%  if not entity.event is empty %} ({{ entity.event }}) {% endif %}
                    </small>
                </h1>
            </div>
            <a href="{{ path('lists_show', { 'id': entity.id }) }}">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row" >
                            <div class="col-md-3"><img src="{{ entity.picture }}"/></div>
                            <div class="col-md-7">
                                {{ entity.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="panel-footer ">
                <div class="container-fluid">
                    <div class="row" >
                        <div class="col-md-6">
                            {#{ entity.type }#}
                        </div>
                        <div class="col-md-6 right">
                            <a class="btn btn-primary"
                               href="{{ path('lists_show', { 'id': entity.id }) }}">
                                <i class="fa fa-eye"></i> Afficher la liste
                            </a>
                            <a class="btn btn-default"
                                href="{{ path('lists_edit', { 'id': entity.id }) }}">
                                <i class="fa fa-pencil"></i> Modifier
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <br />
    {% endfor %}
{% endblock %}
