{% extends '::base.html.twig' %}
{% block headline %}
    <div class="right" style="float: right">
        <a class="btn btn-default" href="{{ path('lists') }}">
            Retour au listes
        </a>
        <a class="btn btn-primary" href="{{ path('lists_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
        <a class="btn btn-warning" href="{{ path('gift_new', { 'list': entity.id }) }}">
            Ajouter un cadeau
        </a>

    </div>
    {{ entity.title }} <small>{{ entity.subTitle }}</small>
{% endblock headline %}
{% block content_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{  entity.description }}
        </div>
    </div>
{% endblock %}
