{% extends '::base.html.twig' %}
{% block headline %}
    <div class="right" style="float: right">
        <a class="btn btn-default" href="{{ path('lists') }}">
            Retour au listes
        </a>
        <a class="btn btn-primary" href="{{ path('lists_edit', { 'id': entity.id }) }}">
            Modifier
        </a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
            Ajouter un cadeau
        </button>
    </div>
    {{ entity.title }} <small>{{ entity.subTitle }}</small>
{% endblock headline %}
{% block content_content %}

    <!-- popup ajout cadeau -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quel cadeau souhaitez-vous ajouter ?</h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-6">
                            <dl>
                                <dt>Cadeau simple</dt>
                                <dd>Cadeau composé d'un seul objet.</dd>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            <dl>
                                <dt>Cadeau sous-liste</dt>
                                <dd>Cadeau sous forme de liste a part entière composé de plusieurs
                                    éléments pouvant être offert séparément.</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Exemple:
                            <ul>
                                <li>Un jeu de carte;</li>
                                <li>Une bague;</li>
                                <li>Une assiette;</li>
                                <li>...</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            Exemple:
                            <ul>
                                <li>Un service
                                    <ul>12 assiètes plates</ul>
                                    <ul>12 assiètes creuses</ul>
                                    <ul>12 verres à vin blanc</ul>
                                    <ul>...</ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-block" href="{{ path('gift_new', { 'list': entity.id }) }}">
                                Cadeau simple
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-default btn-block" href="{{ path('gift_new', { 'list': entity.id }) }}">
                                Cadeau Sous-liste
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            {{  entity.description }}
        </div>
    </div>

    <div class="row">
    {% for gift in entity.gifts %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{ gift.picture }}" alt="{{ gift.name }}">
                <div class="caption">
                    <h3>{{ gift.name }}</h3>
                    <p>{{ gift.description }}</p>
                    <p>Prix: {{ gift.price }}</p>
                    {%  if gift.link is not empty %}
                        <p><a href="{{ gift.link }}" class="" role="button">Voir le site</a></p>
                    {%  endif %}
                    <p>
                        <a href="" class="btn btn-primary" role="button">Offrir</a>
                        <a href="{{ path('gift_edit', { 'id': gift.id }) }}" class="btn btn-default" role="button">Modifier</a>
                        <a href="#" class="btn btn-success">Plus de détails</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
