{% extends '::base.html.twig' %}
{% block headline %}
    <div class="right" style="float: right">
        {{ entity.parent }}
        {% if entity.parent is empty %}
            <a class="btn btn-default" href="{{ path('lists') }}">
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Retour aux listes
            </a>

            <a class="btn btn-primary" href="{{ path('lists_edit', { 'id': entity.id }) }}">
                <i class="fa fa-pencil"></i> Modifier
            </a>
        {% else %}
            <a class="btn btn-default" href="{{ path('lists_show', { 'id': entity.parent.id }) }}">
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Retour à {{ entity.parent }}
            </a>

            <a class="btn btn-primary"  href="{{ path('lists_edit_sublist', { 'id': entity.id }) }}" >
                <i class="fa fa-pencil"></i> Modifier
            </a>
        {% endif %}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#modalAddGift">
            <i class="fa fa-gift"></i> Ajouter un cadeau
        </button>

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalShare">
            <i class="fa fa-share-alt"></i> Partager
        </button>
    </div>
    {{ entity.title }} <small>{{ entity.subTitle }}</small>
    {% if entity.parent is not empty %}
        <small><br />
            (dans la liste "{{ entity.parent }}")
        </small>
    {% endif %}
{% endblock headline %}
{% block content_content %}
    <!-- popup ajout cadeau -->
    <div class="modal fade" id="modalAddGift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quel cadeau souhaitez-vous ajouter ?</h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-6">
                            <dl>
                                <dt>Cadeau simple</dt>
                                <dd>Cadeau composé d'un seul objet.</dd>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            <dl>
                                <dt>Cadeau sous-liste</dt>
                                <dd>Cadeau sous forme de liste a part entière composé de plusieurs
                                    éléments pouvant être offert séparément.</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Exemple:
                            <ul>
                                <li>Un jeu de carte;</li>
                                <li>Une bague;</li>
                                <li>Une assiette;</li>
                                <li>...</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            Exemple:
                            <ul>
                                <li>Un service
                                    <ul>12 assiètes plates</ul>
                                    <ul>12 assiètes creuses</ul>
                                    <ul>12 verres à vin blanc</ul>
                                    <ul>...</ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-block" href="{{ path('gift_new', { 'list': entity.id }) }}">
                                <i class="fa fa-gift"></i> Cadeau simple
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-default btn-block" href="{{ path('lists_new_sublist', { "parent_id" : entity.id }) }}">
                                <i class="fa fa-list"></i> Cadeau sous-liste
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <!-- popup share -->
    <div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Partager la liste</h4>
                </div>
                <div class="modal-body">
                    <strong>Lien publique : </strong>
                    <a href="{{ path('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}">
                        {{ url('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div style="float:right" class="btn-group">
                <a class="btn btn-default" id="showInList" href="javascript:void(0)">
                    <i class="fa fa-list"></i> Liste
                </a>
                <a class="btn btn-default" id="showInGrid" href="javascript:void(0)">
                    <i class="fa fa-th"></i> Grille
                </a>
            </div>
            {{  entity.description }}
        </div>
    </div>



    <div class="showList" style="display: none">
        <table class="table  table-striped table-hover table-condensed">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Lien</th>
                <th>Prix</th>
                <th>Action</th>
            </tr>

        {% for child in entity.children %}
            <tr>
                <td>{{ child.title }}</td>
                <td>{{ child.description }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('lists_show', { 'id': child.id }) }}" class="btn btn-success">
                        <i class="fa fa-eye"></i> Plus de détails
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for gift in entity.gifts %}
            <tr>
                <td>
                    {{ gift.name }}
                </td>
                <td>
                    {{ gift.description }}
                </td>
                <td>
                    {%  if gift.link is not empty %}
                        <i class="fa fa-external-link"></i> <a href="{{ gift.link }}">Lien</a>
                    {% endif %}
                </td>
                <td>
                    {%  if gift.price is not empty %}
                        <i class="fa fa-money"></i> {{ gift.price }} €
                    {% endif %}
                </td>
                <td class="btn-group">
                    <a href="" class="btn btn-primary" role="button"><i class="fa fa-gift"></i> Offrir</a>
                    <a href="{{ path('gift_edit', { 'id': gift.id }) }}" class="btn btn-default" role="button">
                        <i class="fa fa-pencil"></i> Modifier</a>
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-eye"></i> Plus de détails
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </table>
    </div>

    <div class="showGrid" class="row">

        {% for child in entity.children %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {%  if child.picture|trim != "" %}
                    <img src="{{ child.picture }}" alt="{{ child.title }}">
                {%  endif %}
                <div class="caption">
                    <h3>{{ child.title }}</h3>
                    <p><i class="fa fa-quote-left"></i> <i class="fa fa-quote-right"></i> {{ child.description }}</p>

                    <p>
                        <a href="{{ path('lists_edit_sublist', { 'id': child.id }) }}" class="btn btn-default" role="button">
                            <i class="fa fa-pencil"></i> Modifier</a>
                        <a href="{{ path('lists_show', { 'id': child.id }) }}" class="btn btn-success">
                            <i class="fa fa-eye"></i> Plus de détails
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

        {% for gift in entity.gifts %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {%  if gift.picture|trim != "" %}
                        <img src="{{ gift.picture }}" alt="{{ gift.name }}">
                    {%  endif %}
                    <div class="caption">
                        <h3>{{ gift.name }}</h3>
                        <p><i class="fa fa-quote-left"></i> <i class="fa fa-quote-right"></i> {{ gift.description }}</p>
                        {%  if gift.price is not empty %}
                            <p><i class="fa fa-money"></i> {{ gift.price }} €</p>
                        {%  endif %}
                        {%  if gift.link is not empty %}
                            <p><a href="{{ gift.link }}" class="" role="button">
                                    <i class="fa fa-external-link"></i> Voir le site</a>
                            </p>
                        {%  endif %}
                        <p>
                            <a href="" class="btn btn-primary" role="button"><i class="fa fa-gift"></i> Offrir</a>
                            <a href="{{ path('gift_edit', { 'id': gift.id }) }}" class="btn btn-default" role="button">
                                <i class="fa fa-pencil"></i> Modifier</a>
                            <a href="#" class="btn btn-success">
                                <i class="fa fa-eye"></i> Plus de détails
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block page_script %}
<script type="text/javascript" >
$(document).ready(function() {
    $('#showInList').on('click', function() {
        $('.showGrid').hide('slow');
        $('.showList').show('slow');
    });
    $('#showInGrid').on('click', function() {
        $('.showList').hide('slow');
        $('.showGrid').show('slow');
    });

});
</script>
{% endblock %}