{% extends '::base.html.twig' %}
{% block headline %}
    <div class="right" style="float: right">
        {% if entity.parent is not empty %}
            <a class="btn btn-default" href="{{ path('public_list', { 'list_id': entity.parent.id, 'slug': entity.parent.slug }) }}">
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Retour à {{ entity.parent }}
            </a>
        {% endif %}

    </div>
    {{ entity.title }} <small>{{ entity.subTitle }}</small>
{% endblock headline %}
{% block content_content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ entity.picture }}" alt="{{ entity.title }}"
                         class="img-thumbnail"  style="width:250px">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {%  if entity.gifts|length != 0 or entity.children|length != 0 %}
                            <div class="col-md-9">
                        {% else %}
                            <div class="col-md-12">
                        {% endif %}
                            <ol class="breadcrumb">
                                {%  for parent in parents %}
                                    <li>
                                        <a href="{{ url('public_list', { 'list_id': parent.id, 'slug': parent.slug }) }}">
                                            {{ parent }}
                                        </a>
                                    </li>
                                {% endfor %}
                                <li class="active">{{ entity.title }}</li>
                            </ol>
                        </div>
                        {%  if entity.gifts|length != 0 or entity.children|length != 0 %}
                            <div class="col-md-3">
                                <div style="float:right" class="btn-group" alt="toto">
                                    <a class="btn btn-default" id="showInList" href="javascript:void(0)">
                                        <i class="fa fa-list"></i> Liste
                                    </a>
                                    <a class="btn btn-default" id="showInGrid" href="javascript:void(0)">
                                        <i class="fa fa-th"></i> Grille
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{  entity.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%  if entity.gifts|length == 0 and entity.children|length == 0 %}
        <div class="panel panel-info">
            <div class="panel-heading">
                Trop tard... Ou trop tôt...
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2" style="font-size: 10em; text-align: center;">
                        <i class="fa fa-gift"></i>
                    </div>
                    <div class="col-md-10">
                        Vous arrivez trop tard, cette liste est vide parce que d'autres personnes ont déjà tout offert !
                        <br />
                        Ou alors, vous arrivez trop tôt et aucun cadeau n'est déjà demandé ?
                        <br />
                        Dans les deux cas, vous devrez repasser plus tard...
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="showList panel panel-default" style="display: none">
            <ul class="list-group">
                {% for child in entity.children %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2" >
                                <div class="thumbnail">
                                    <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}">
                                        <img src="{{ child.picture }}"  style="height:70px" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h4>{{ child.title }}</h4>
                                {{ child.description|truncate(100) }}
                            </div>
                            <div class="col-md-3">
                                <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}"
                                   class="btn btn-success btn-block">
                                    <i class="fa fa-eye"></i> Plus de détails
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}

                {% for gift in entity.gifts %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                {% if gift.picture != "" %}
                                    <div class="thumbnail">
                                        <img src="{{ gift.picture }}"
                                             class="offer"  style="height:70px" />

                                        <div class="hide">
                                            <div class="gift-id">{{ gift.id }}</div>
                                            <div class="gift-name">{{ gift.name }}</div>
                                            <div class="gift-link">{{ gift.link }}</div>
                                            <div class="gift-description">{{ gift.description }}</div>
                                            <div class="gift-img">{{ gift.picture }}</div>
                                            <div class="gift-price">{{ gift.price }}</div>
                                            <div class="gift-offer">{{ path('public_send_mail', { 'gift_id': gift.id }) }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-7">
                                <h4>{{ gift.name }}</h4>
                                {{ gift.description|truncate(100) }}
                            </div>
                            <div class="col-md-3">
                                <button class="offer btn btn-primary btn-block" role="button">
                                    <i class="fa fa-gift"></i> Offrir / Plus de détails
                                </button>
                                <div class="hide">
                                    <div class="gift-id">{{ gift.id }}</div>
                                    <div class="gift-name">{{ gift.name }}</div>
                                    <div class="gift-link">{{ gift.link }}</div>
                                    <div class="gift-description">{{ gift.description }}</div>
                                    <div class="gift-img">{{ gift.picture }}</div>
                                    <div class="gift-price">{{ gift.price }}</div>
                                    <div class="gift-offer">{{ path('public_send_mail', { 'gift_id': gift.id }) }}</div>
                                </div>
                            </div>
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>

        <div class="showGrid row" style="display: none">
            {% for child in entity.children %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        {%  if child.picture|trim != "" %}
                            <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}">
                                <img src="{{ child.picture }}" alt="{{ child.title }}"
                                     class="img-thumbnail" style="width:200px;" >
                            </a>
                        {%  endif %}
                        <div class="caption">
                            <h3>{{ child.title }}</h3>
                            <p>
                                <i class="fa fa-quote-left"></i> <i class="fa fa-quote-right"></i>
                                {{ child.description |truncate(100)}}
                            </p>

                            <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}"
                               class="btn btn-success btn-block">
                                <i class="fa fa-eye"></i> Voir la liste
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for gift in entity.gifts %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        {%  if gift.picture|trim != "" %}
                            <img src="{{ gift.picture }}" alt="{{ gift.name }}"
                                 class="offer img-thumbnail" style="width:200px;" >

                            <div class="hide">
                                <div class="gift-id">{{ gift.id }}</div>
                                <div class="gift-name">{{ gift.name }}</div>
                                <div class="gift-link">{{ gift.link }}</div>
                                <div class="gift-description">{{ gift.description }}</div>
                                <div class="gift-img">{{ gift.picture }}</div>
                                <div class="gift-price">{{ gift.price }}</div>
                                <div class="gift-offer">{{ path('public_send_mail', { 'gift_id': gift.id }) }}</div>
                            </div>
                        {%  endif %}
                        <div class="caption ">
                            <h3>{{ gift.name }}</h3>
                            {%  if gift.description is not empty %}
                                <p style="text-align: justify">
                                    <i class="fa fa-quote-left"></i>
                                    <i class="fa fa-quote-right"></i>
                                    {{ gift.description | truncate(100) }}
                                </p>
                            {%  endif %}
                            {%  if gift.price is not empty %}
                                <p><i class="fa fa-money"></i> {{ gift.price }} €</p>
                            {%  endif %}
                            {%  if gift.link is not empty %}
                                <p>
                                    <a href="{{ gift.link }}" role="button">
                                        <i class="fa fa-external-link"></i> Voir le site
                                    </a>
                                </p>
                            {%  endif %}
                            <button class="offer btn btn-primary btn-block" role="button">
                                <i class="fa fa-gift"></i> Offrir / Plus de détails
                            </button>
                            <div class="hide">
                                <div class="gift-id">{{ gift.id }}</div>
                                <div class="gift-name">{{ gift.name }}</div>
                                <div class="gift-link">{{ gift.link }}</div>
                                <div class="gift-description">{{ gift.description }}</div>
                                <div class="gift-img">{{ gift.picture }}</div>
                                <div class="gift-price">{{ gift.price }}</div>
                                <div class="gift-offer">{{ path('public_send_mail', { 'gift_id': gift.id }) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- popup offrir cadeau -->
    <div class="modal fade" id="modalOffer" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">

                            <div id="offerShowImg" style="text-align: center">
                                <img id="offerGiftImg" class="img-circle" width="150"/>
                                <br />
                            </div>

                            <div id="offerShowPrice">
                                <i class="fa fa-money"></i> <span id="offerGiftPrice"></span> €
                            </div>

                            <div id="offerShowLink">
                                <a id="offerGiftLink" target="_blanck">
                                    <i class="fa fa-external-link"></i> Voir le site
                                </a>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div>
                                <i class="fa fa-quote-left"></i>
                                <i class="fa fa-quote-right"></i>
                                <div id="offerGiftDescription" style="text-align: justify"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Offrir</strong></div>
                        <div class="row panel-body">
                            <div class="col-md-7">
                                <p class="text-align: justify">
                                    Afin d'offrir un cadeau, un email va vous être envoyé.<br />
                                    Dans celui-ci, vous devrez confirmer votre cadeau et celui-ci sera alors enlevé de la liste des souhaits.<br />
                                    Personne d'autre ne pourra alors l'offrir.
                                </p>
                                {#
                                <p style="font-weight: bold">
                                    {%  if not entity.owners is empty %}
                                        {% for user in entity.owners %}
                                            {% if user != entity.owners|first and  user == entity.owners|last %}
                                                {% if entity.owners|length == 2 %}
                                                    et
                                                {% else %}
                                                    ,
                                                {% endif %}
                                            {% endif %}
                                            {{ user.firstname|capitalize }} {{ user.lastname|capitalize }}
                                        {% endfor %}
                                        {% if entity.owners|length == 1 %}
                                            souhaite
                                        {% else %}
                                            souhaitent
                                        {% endif %}
                                        recevoir ce cadeau :
                                        <ul>
                                            <li style="text-decoration: line-through">emballé et donné en main propre</li>
                                            <li>sous la forme d'un virement</li>
                                        </ul>
                                    {% endif %}
                                </p>
                                #}
                            </div>
                            <div class="col-md-5">
                                <form class="form-horizontal" id="offerGiftForm" method="POST">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.email) }}
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary btn-block">
                                                Offrir
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
{#
        <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=kdolist-21&o=8&p=48&l=ez&f=ifr&f=ifr" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
        <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=kdolist-21&o=8&p=48&l=ur1&category=generic&banner=04STT8487M4Y6AJ773R2&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
#}
{#
        <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=kdolist-21&o=8&p=48&l=ur1&category=gift_certificates&banner=1FRDGNQKNPQV59SZXMG2&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
#}
    </div>



{% endblock %}


{% block page_script %}

<script type="text/javascript" >

    function setCookie(key, value) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
    }

    function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
    }

    $(document).ready(function() {
        // Offer gift
        $('.offer').on('click', function() {
            event.preventDefault();

            var gift = {
                id:             $(this).parent().find('.gift-id').html(),
                name:           $(this).parent().find('.gift-name').html(),
                description:    $(this).parent().find('.gift-description').html(),
                link:           $(this).parent().find('.gift-link').html(),
                price:          $(this).parent().find('.gift-price').html(),
                img:            $(this).parent().find('.gift-img').html(),
                offerLink:      $(this).parent().find('.gift-offer').html()
            };
            $('#modalOffer .modal-title').text(gift.name);
            $('#modalOffer #offerGiftId').text(gift.id);
            $('#modalOffer #offerGiftName').text(gift.name);
            $('#modalOffer #offerGiftDescription').html(gift.description);
            $('#modalOffer #offerGiftLink').attr('href', gift.link);
            $('#modalOffer #offerGiftPrice').text(gift.price);
            $('#modalOffer #offerGiftImg').attr('src', gift.img);
            $('#modalOffer #offerGiftForm').attr('action', gift.offerLink);

            if (!gift.img)   { $('#offerShowImg').hide();   } else { $('#offerShowImg').show(); }
            if (!gift.price) { $('#offerShowPrice').hide(); } else { $('#offerShowPrice').show(); }
            if (!gift.link)  { $('#offerShowLink').hide(); }  else { $('#offerShowLink').show(); }

            $('#modalOffer').modal('show');
        });

        // Click on row
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });

        // Show list / grid
        $('#showInGrid').addClass("btn-info");

        $('#showInList').on('click', function() {
            setCookie('listView', 'showInList');
            $(this).addClass("btn-info");
            $(this).removeClass("btn-default");
            $('#showInGrid').removeClass("btn-info");
            $('#showInGrid').addClass("btn-default");
            $('.showGrid').hide('slow');
            $('.showList').show('slow');
        });
        $('#showInGrid').on('click', function() {
            setCookie('listView', 'showInGrid');
            $(this).addClass("btn-info");
            $(this).removeClass("btn-default");
            $('#showInList').removeClass("btn-info");
            $('#showInList').addClass("btn-default");

            $('.showList').hide('slow');
            $('.showGrid').show('slow');
        });

        var viewToShow = getCookie('listView');
        if (viewToShow != null) {
            $('#'+viewToShow).click();
        } else {
            $('#showInGrid').click();
        }

    });
    </script>
{% endblock %}