<section id="content">

    <section id="giftListBaner" class="tp-banner section-intro">
        <div class="stellar bg-overlay" data-stellar-background-ratio="0.4"
             style="background: url('http://k.loc/{{'{{ listCtrl.lists.picture.web_path}}'}}');
                     background-size: cover;
                     background-repeat: no-repeat;">
            <div class=" tp-dottedoverlay twoxtwo" ></div>
        </div>

        <div id="header-list-title" class="bg-overlay bg8 col-md-5 col-sm-8 mt20 mb20" style="z-index: 3">
            <h1 class="intro-title">{{ '{{ listCtrl.lists.title }}' }}</h1>
            <h3 style="color: white">{{ '{{ listCtrl.lists.sub_title }}' }}</h3>
            <p class="intro-p">{{ '{{ listCtrl.lists.description }}' }}</p>

{#
            <a target="_blank"
               href="https://plus.google.com/share?url=http://k.loc/app_dev.php/gui/#/list/2"
               style="display: inline-block; background:#cc3732 ; width: 32px; height: 32px;
               padding-top: 6px; padding-left: 6px;">
                <i class="fa fa-google-plus" style="color:white; font-size:24px;"></i>
            </a>

            <a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http://k.loc/app_dev.php/gui/#/list/2"
               style="display: inline-block; background:#4c66a4 ; width: 32px; height: 32px;
               padding-top: 6px; padding-left: 12px;">
                <i class="fa fa-facebook" style="color:white; font-size:24px;"></i>
            </a>

            <a target="_blank"
               href="https://twitter.com/intent/tweet?text=Kdolist http://k.loc/app_dev.php/gui/&#35;/list/2"
               style="display: inline-block; background:#0084B4 ; width: 32px; height: 32px;
               padding-top: 6px; padding-left: 6px;">
                <i class="fa fa-twitter" style="color:white; font-size:24px;"></i>
            </a>

            <a target="_blank"
               style="display: inline-block; background:#666666 ; width: 32px; height: 32px;
               padding-top: 8px; padding-left: 6px;">
                <i class="fa fa-envelope" style="color:white; font-size:20px;"></i>
            </a>

            <div
               style="display: inline-block; background:black; height: 32px;
               padding-left: 6px; padding-right: 12px;
               color:white; font-size:24px;">
                <i class="fa fa-share-alt" style="margin-top: 6px;"></i>
                <span style="font-size: 0.6em">http://k.loc/app_dev.php/gui/#/list/2</span>
            </div>
#}

        </div>
    </section>

    <section class="section-page">
        <div class="container">
            <div class="masonry">
                <gift-panel class="item" gift="gift" ng-repeat="gift in listCtrl.lists.gifts"></gift-panel>
            </div>
        </div>
    </section>

    {{ '{{ $scope.currentGift.name }}' }}
    <div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal-label">{{ '{{ $scope.currentGift.name }}' }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-b">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</section>