<section id="content">

    <section id="giftListBaner" class="tp-banner section-intro">
        <div class="stellar bg-overlay" data-stellar-background-ratio="0.4"
             backround-img="" data-img="{{ '{{ listCtrl.lists.picture.web_path }}' }}">
            <div class=" tp-dottedoverlay twoxtwo" ></div>
        </div>

        <div id="header-list-title" class="bg-overlay bg8 col-md-5 col-sm-8 mt20 mb20" style="z-index: 3">
            <h1 class="list-intro-title">{{ '{{ listCtrl.lists.title }}' }}
                <small><br />{{ '{{ listCtrl.lists.sub_title }}' }}</small></h1>
            <div class="list-intro-text">{{ '{{ listCtrl.lists.description }}' }}</div>
            <div class="list-intro-share mt10">
                <ul class="social-icon social-bg circle">
                    <li data-toggle="tooltip" data-placement="bottom" data-original-title="Partager sur Facebook" data-title="Partager sur Facebook">
                        <a data-title="Partager sur Facebook"
                        data-container="body" data-toggle="popover" data-placement="right"
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                        data-original-title="Partager sur Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="bottom" data-original-title="Partager sur Twitter"
                        data-title="Partager sur Twitter">
                        <a data-title="Partager sur Twitter"
                           data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                           data-original-title="Partager sur Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="bottom" data-original-title="Partager sur Google+"
                        data-title="Partager sur Google+">
                        <a data-title="Partager sur Google+"
                           data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                           data-original-title="Partager sur Google+">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="bottom" data-original-title="Obtenir le flux RSS"
                        data-title="Obtenir le flux RSS">
                        <a data-title="Obtenir le flux RSS"
                           data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                           data-original-title="Obtenir le flux RSS">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="bottom" data-original-title="Envoyer par email"
                        data-title="Envoyer par email">
                        <a data-title="Envoyer par email"
                           data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Form"
                           data-original-title="Envoyer par email">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="bottom" data-original-title="Obtenir le lien"
                        data-title="Obtenir le lien">
                        <a data-title="Obtenir le lien"
                           data-container="body" data-toggle="popover" data-placement="right"
                           data-content="http://wwww"
                           data-original-title="Obtenir le lien">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
{#
            <a target="_blank"
               href="https://plus.google.com/share?url=http://k.loc/app_dev.php/gui/#/list/2"
               style="display: inline-block; background:#cc3732 ; width: 32px; height: 32px;
               padding-top: 6px; padding-left: 6px;">
                <i class="fa fa-google-plus" style="color:white; font-size:24px;"></i>
            </a>

            <a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http://k.loc/app_dev.php/gui/#/list/2"
               style="display: inline-block; background:#4c66a4 ; width: 32px; height: 32px;
               padding-top: 6px; padding-left: 12px;">
                <i class="fa fa-facebook" style="color:white; font-size:24px;"></i>
            </a>

            <a target="_blank"
               href="https://twitter.com/intent/tweet?text=Kdolist http://k.loc/app_dev.php/gui/&#35;/list/2"
               style="display: inline-block; background:#0084B4 ; width: 32px; height: 32px;
               padding-top: 6px; padding-left: 6px;">
                <i class="fa fa-twitter" style="color:white; font-size:24px;"></i>
            </a>

            <a target="_blank"
               style="display: inline-block; background:#666666 ; width: 32px; height: 32px;
               padding-top: 8px; padding-left: 6px;">
                <i class="fa fa-envelope" style="color:white; font-size:20px;"></i>
            </a>

            <div
               style="display: inline-block; background:black; height: 32px;
               padding-left: 6px; padding-right: 12px;
               color:white; font-size:24px;">
                <i class="fa fa-share-alt" style="margin-top: 6px;"></i>
                <span style="font-size: 0.6em">http://k.loc/app_dev.php/gui/#/list/2</span>
            </div>
#}

        </div>
    </section>

    <section class="section-page">
        <div class="container">
            <div class="masonry">
                <gift-panel class="item" gift="gift" ng-repeat="gift in listCtrl.lists.gifts"></gift-panel>
            </div>
        </div>
    </section>

    {{ '{{ $scope.currentGift.name }}' }}
    <div class="modal fade in" id="modal" tabindex="-1" role="modal"
         aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal-label">{{ '{{ listCtrl.currentGift.name }}' }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-md-6 col-sm12">

                                        <img src="{{ '{{ listCtrl.currentGift.picture.web_path }}' }}"
                                             width="100%">

                                </div>

                                <div class="col-md-6 col-sm12">

                                    <p></p>
                                    <div class="panel-heading">
                                        Détails
                                    </div>
                                    <div class="panel-body">
                                        <div>
                                            <i class="fa fa-quote-left"></i>
                                            <i class="fa fa-quote-right"></i>
                                            <div style="text-align: justify">
                                                {{ '{{ listCtrl.currentGift.description }}' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">

                                        {{ '{{ listCtrl.currentGift.price }}' }} €
                                        ({{ '{{ listCtrl.currentGift.number_of_parts }}' }} <i class="fa fa-pie-chart"></i> parts de 200 €)<br />
                                        <div class="progress">
                                            <div class="progress-bar"
                                                 data-toggle="tooltip"
                                                 data-original-title="Parts offertes : {{ '{{ listCtrl.currentGift.gived_parts}}' }} / {{ '{{ listCtrl.currentGift.number_of_parts }}' }}"
                                                 data-percentage="{{ '{{ listCtrl.currentGift.percent_done}}' }}">
                                                <span ng-class="{true:'op7', false:''}[listCtrl.currentGift.percent_done > 0 && listCtrl.currentGift.percent_done < 20]">
                                                    {{ '{{ listCtrl.currentGift.gived_parts}}' }}
                                                </span>
                                            </div>
                                            <div class="progress-bar progress-bar-danger progress-bar-striped progress-bar-animate active op7"
                                                 data-toggle="tooltip" data-original-title="Parts réservées&nbsp;:&nbsp;{{ '{{ listCtrl.currentGift.total_reserved}}' }}&nbsp;/&nbsp;{{ '{{ listCtrl.currentGift.number_of_parts }}' }}"
                                                 data-percentage="{{ '{{ listCtrl.currentGift.percent_reserved}}' }}">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-b" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</section>
{#
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">2 Toilettes</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align: center">
                        <img src="/uploads/pictures/6c469ecdf34eca21dda4f1050aafbfebf4741dd1ac764cccf2922859631687bb.jpeg" class="img-rounded img-thumbnail" width="100%">
                        <br>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="panel panel-primary bottom">
                        <div class="panel-heading">
                            Détails
                        </div>
                        <div class="panel-body">
                            <div>
                                <i class="fa fa-quote-left"></i>
                                <i class="fa fa-quote-right"></i>
                                <div style="text-align: justify">Dans notre maison, nous aurons besoin de deux toilettes, une normale, et une spéciale pour que manu puisse y lire ses BD lapin-crétin.</div>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="panel-footer">

                            <i class="fa fa-money"></i> 200 €
                            (par part de 25 €)
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-toggle="tooltip" data-placement="top" title="Parts déjà offertes">
                                    0 / 8 <i class="fa fa-pie-chart"></i>
                                </div>
                                <div class="progress-bar progress-bar-warning " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-toggle="tooltip" data-placement="top" title="Parts réservées">
                                    0 <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Offrir</strong></div>
                <div class="row panel-body">
                    <div class="col-md-7">
                        <p class="text-align: justify">
                            Afin d'offrir un cadeau, un email va vous être envoyé.<br>
                            Dans celui-ci, vous devrez confirmer votre cadeau et celui-ci sera alors enlevé de la liste des souhaits.<br>
                            Personne d'autre ne pourra alors l'offrir.
                        </p>
                    </div>
                    <div id="formOffer" class="col-md-5">
                        <form name="form" method="post" action="/p/m2" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-6" id="formFirstName">
                                    <input type="text" id="form_firstName" name="form[firstName]" required="required" placeholder="Prénom" class="form-control">
                                </div>
                                <div class="col-sm-6" id="formLastName">
                                    <input type="text" id="form_lastName" name="form[lastName]" required="required" placeholder="Nom" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" id="formEmail">
                                    <input type="email" id="form_email" name="form[email]" required="required" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label lef">Nombre de parts</label>
                                <div class="col-sm-7" id="formNumberOfParts">
                                    <input type="number" id="form_numberOfParts" name="form[numberOfParts]" required="required" min="1" max="8" class="form-control" value="1">
                                </div>

                                <div class="col-sm-12">
                                    Prix total : 200 €<br>
                                    Prix d'une part : 25 €<br>
                                    Nombre de part disponibles : 8<br>
                                    Prix calculé :
                                    <strong>
                                        <spanc id="counter" data-counter="25">1</spanc>
                                        * 25€
                                        = <span id="counter-value">25</span>€
                                    </strong>
                                </div>
                            </div>
                            <input type="hidden" id="form__token" name="form[_token]" class="form-control" value="nkRJIC-7k-5Dv_NIa0FfJBeL9gXQAka5GB4HaAQv_uA">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="submitFormOffer" type="button" class="btn btn-primary btn-block">
                                        <i class="fa fa-gift"></i> Offrir
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        </div>
    </div>#}
</div>