<section id="#content" ng-controller="ListController as list">

    <section class="section-intro bg-img bg19 stellar" data-stellar-background-ratio="0.4"
            style="background: url('http://k.loc/{{'{{ list.lists.picture.web_path}}'}}');
                    background-size: cover;
                    background-repeat: no-repeat;">
        <div class="bg-overlay op6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <h1 class="intro-title mb20">{{ '{{ list.lists.title }}' }}</h1>
                    <h4 style="color: white">{{ '{{ list.lists.sub_title }}' }}</h4>
                    <p class="intro-p mb30">{{ '{{ list.lists.description }}' }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="portfolio-isotope">
                        <div class="row">
                            <div class="portfolio" >
                                {#<list-panel gift="gift" ng-repeat="gift in list.children"></list-panel>#}
                                <gift-panel gift="gift" ng-repeat="gift in list.lists.gifts"></gift-panel>


                            </div>
                        </div> <!-- END portfolio Container -->
                    </div> <!-- END Portfolio Isotope -->


                    <div class="mb20"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal-label">Modal Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-b">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</section>