
<div class="col-sm-6 col-md-3 el">
    <div class="blog-item">
        <div class="blog-image">
            <img src="{{ '{{ gift.picture}}' }}" alt="blog post">
        </div>
        <div class="blog-caption">
            <h3 class="post-title">{{ '{{ gift.name}}' }}</h3>
            {#
            <div class="sub-post-title">
                <span>by <a href="#">John Doe</a></span> <span class="separator"> / </span> <span>15 March, 2015</span>
            </div>
            #}
            <p>{{ '{{ gift.description}}' }}</p>
            <div class="clearfix">
                <div class="pull-left"><a href="blog_post_sidebar.html" class="read-more">read more</a></div>
                <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
            </div>
        </div>
    </div>
</div> <!-- END Blog Item -->