{% extends '::base.html.twig' %}

{% block headline %}
    <div class="right" style="float: right">
        <a class="btn btn-primary"
            href="{{ path('lists_new') }}"
            title="Créer une nouvelle liste">
            <i class="fa fa-list"></i> <i class="fa fa-plus"></i> Créer une liste
        </a>
    </div>
    Mes listes
{% endblock headline %}

{% block content_content %}

    {% for entity in entities %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="float: right" >
                    {%  if not entity.owners is empty or not entity.users|first.firstname is empty%}
                        Liste de
                        {% if entity.owners|length == 0 %}
                            {% set users = entity.users %}
                        {% else %}
                            {% set users = entity.owners %}
                        {% endif %}
                        {% for user in users %}
                            {% if user != users|first %}
                                {% if users|length == 2 %}
                                    et
                                {% else %}
                                    ,
                                {% endif %}
                            {% endif %}
                            {{ user.firstname|capitalize }} {{ user.lastname|capitalize }}
                        {% endfor %}
                    {% endif %}
                </div>
                <h1 class="panel-title">
                    {{ entity.title }}
                    <small>{{ entity.subTitle }}
                        {%  if not entity.event is empty %} ({{ entity.event }}) {% endif %}
                    </small>
                </h1>
            </div>
            <a href="{{ path('lists_show', { 'id': entity.id }) }}">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row" >
                            <div class="col-md-3">
                                <img src="{{ entity.picture }}"
                                    style="width: 200px" />
                            </div>
                            <div class="col-md-7">
                                {{ entity.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="panel-footer ">
                <div class="container-fluid">
                    <div class="row" >

                        <div class="col-md-6">
                            <a target="_blank"
                               href="https://plus.google.com/share?url={{ url('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}">
                                <i class="fa fa-google-plus-square" style="font-size: 2em; color:#cc3732;"></i>
                            </a>


                            <a target="_blank"
                               href="https://www.facebook.com/sharer/sharer.php?u={{ url('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}">
                                <i class="fa fa-facebook-square" style="font-size: 2em; color:#4c66a4;"></i>
                            </a>

                            <a target="_blank"
                               href="{{ path('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}"
                               style="color: black;">
                                <i class="fa fa-share-alt" ></i>
                                {{ url('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}
                            </a>
                        </div>

                        <div class="col-md-6 right">
                            <a class="btn btn-primary"
                               href="{{ path('lists_show', { 'id': entity.id }) }}">
                                <i class="fa fa-eye"></i> Afficher la liste
                            </a>
                            <a class="btn btn-default"
                                href="{{ path('lists_edit', { 'id': entity.id }) }}">
                                <i class="fa fa-pencil"></i> Modifier
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <br />
        <style type="text/css">

            #share-buttons img {
                width: 35px;
                padding: 5px;
                border: 0;
                box-shadow: 0;
                display: inline;
            }

        </style>
    {% endfor %}
{% endblock %}

{% block page_script %}
{% endblock %}