{% extends '::base.html.twig' %}
{% set isPublic = app.request.get('_route') != 'lists' %}
{% set cpt = 0 %}
{% block headline %}
    <div class="right" style="float: right">
        {% if entity.parent is empty %}
            <a class="btn btn-default" href="{{ path('lists') }}">
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Retour aux listes
            </a>

            <a class="btn btn-primary" href="{{ path('lists_edit', { 'id': entity.id }) }}">
                <i class="fa fa-pencil"></i> Modifier
            </a>
        {% else %}
            <a class="btn btn-default" href="{{ path('lists_show', { 'id': entity.parent.id }) }}">
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Retour à {{ entity.parent }}
            </a>

            <a class="btn btn-primary"  href="{{ path('lists_edit_sublist', { 'id': entity.id }) }}" >
                <i class="fa fa-pencil"></i> Modifier
            </a>
        {% endif %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#modalAddGift">
            <i class="fa fa-gift"></i> Ajouter un cadeau
        </button>

    </div>
    {{ entity.title }} <small>{{ entity.subTitle }}</small>

{% endblock headline %}
{% block content_content %}
    <!-- popup ajout cadeau -->
    <div class="modal fade" id="modalAddGift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quel cadeau souhaitez-vous ajouter ?</h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-6">
                            <dl>
                                <dt>Cadeau simple</dt>
                                <dd>Cadeau composé d'un seul objet.</dd>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            <dl>
                                <dt>Cadeau sous-liste</dt>
                                <dd>Cadeau sous forme de liste a part entière composé de plusieurs
                                    éléments pouvant être offert séparément.</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            Exemple:
                            <ul>
                                <li>Un jeu de carte;</li>
                                <li>Une bague;</li>
                                <li>Une assiette;</li>
                                <li>...</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            Exemple:
                            <ul>
                                <li>Un service
                                    <ul>12 assiètes plates</ul>
                                    <ul>12 assiètes creuses</ul>
                                    <ul>12 verres à vin blanc</ul>
                                    <ul>...</ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-block" href="{{ path('gift_new', { 'list': entity.id }) }}">
                                <i class="fa fa-gift"></i> Cadeau simple
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-default btn-block" href="{{ path('lists_new_sublist', { "parent_id" : entity.id }) }}">
                                <i class="fa fa-list"></i> Cadeau sous-liste
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <!-- popup more info -->
    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">

                            <div id="offerShowImg" style="text-align: center">
                                <img id="detailGiftImg" class="img-circle" width="150"/>
                                <br />
                            </div>

                            <div id="offerShowPrice">
                                <i class="fa fa-money"></i> <span id="detailGiftPrice"></span> €
                            </div>

                            <div id="offerShowLink">
                                <a id="detailGiftLink" target="_blanck">
                                    <i class="fa fa-external-link"></i> Voir le site
                                </a>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div>
                                <i class="fa fa-quote-left"></i>
                                <i class="fa fa-quote-right"></i>
                                <div id="detailGiftDescription" style="text-align: justify"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Haut de page -->
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <img src="{{ entity.picture }}" alt="{{ entity.title }}"
                         style="width:250px" />
                </div>

                <div class="col-md-9">
                    <div class="row">
                        {%  if entity.gifts|length != 0 or entity.children|length != 0 %}
                            <div class="col-md-9">
                        {% else %}
                            <div class="col-md-12">
                        {% endif %}
                            <ol class="breadcrumb">
                                {%  for parent in parents %}
                                    <li>
                                        <a href="{{ url('public_list', { 'list_id': parent.id, 'slug': parent.slug }) }}">
                                            {{ parent }}
                                        </a>
                                    </li>
                                {% endfor %}
                                <li class="active">{{ entity.title }}</li>
                            </ol>
                        </div>
                        {%  if entity.gifts|length != 0 or entity.children|length != 0 %}
                        <div class="col-md-3">
                            <div style="float:right" class="btn-group" alt="toto">
                                <a class="btn btn-default" id="showInList" href="javascript:void(0)">
                                    <i class="fa fa-list"></i> Liste
                                </a>
                                <a class="btn btn-default" id="showInGrid" href="javascript:void(0)">
                                    <i class="fa fa-th"></i> Grille
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{  entity.description }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            Montant total : {{ entity.totalPrice() }} €
                            <div class="progress">
                                <div class="progress-bar progress-bar-success center" role="progressbar"
                                     aria-valuenow="{{ entity.percentGived() }}" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ entity.percentGived() }}%; min-width: 2em;">
                                    {{ entity.totalGived() }} €
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>Partager : </strong>
                            <a target="_blank"
                               href="https://plus.google.com/share?url={{ url('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}">
                                <i class="fa fa-google-plus-square" style="color:#cc3732;"></i>
                            </a>

                            <a target="_blank"
                               href="https://www.facebook.com/sharer/sharer.php?u={{ url('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}">
                                <i class="fa fa-facebook-square" style="color:#4c66a4;"></i>
                            </a>


                            <a target="_blank"
                               href="{{ path('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}"
                               style="color: black;">

                                <i class="fa fa-share-alt"></i> {{ url('public_list', { 'list_id': entity.id, 'slug': entity.slug }) }}
                            </a>
                        </div>
                        <div class="col-md-6 right">
                            {% if not entity.bankaccount is empty %}
                                Compte IBAN associé : {{ entity.bankaccount }}
                            {%  endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%  if entity.gifts|length == 0 and entity.children|length == 0 %}
        <!-- Liste vide -->
        <div class="panel panel-warning">
            <div class="panel-heading">
                Liste vide
            </div>
            <div class="panel-body">
                Cette liste est vide. <br />
                Vous pouvez y ajouter un cadeau ou une sous liste...
                <div style="text-align:center">
                    <button type="button" class="btn btn-warning btn-lg"
                            data-toggle="modal" data-target="#modalAddGift">
                        <i class="fa fa-gift"></i> Ajouter un cadeau
                    </button>
                </div>
            </div>
        </div>
    {% else %}
    <!-- liste pleine -->
        <div class="showList panel panel-default" style="display: none">
            <ul class="list-group">
            {% for child in entity.children %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-1" >
                            <div class="thumbnail">
                                {% if child.externalListLink|trim != "" %}
                                    <a target="_blank" href="{{ child.externalListLink }}">
                                        <img src="{{ child.picture }}" alt="{{ child.title }}"
                                             style="width:100%" >
                                    </a>
                                {% else %}
                                    <a href="{{ path('lists_show', { 'id': child.id }) }}">
                                        <img src="{{ child.picture }}" alt="{{ child.title }}"
                                             style="width:100%" >
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>{{ child.title }}</h4>
                            {{ child.description|truncate(100) }}
                        </div>
                        <div class="col-md-3">
                            {% if child.externalListLink|trim != "" %}
                                <a target="_blank" href="{{ child.externalListLink }}"
                                   class="btn btn-success btn-block">
                                    <i class="fa fa-external-link-square"></i> Voir la liste <small>(Site externe)</small>
                                </a>
                            {% else %}
                                <a href="{{ path('lists_show', { 'id': child.id }) }}"
                                   class="btn btn-success btn-block">
                                    <i class="fa fa-eye"></i> Plus de détails
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}

            {% for gift in entity.gifts %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="thumbnail">
                                <img src="{{ gift.picture }}"
                                     style="width:100%" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>{{ gift.name }}</h4>
                            {{ gift.description|truncate(100) }}
                        </div>
                        <div class="col-md-3">
                            <div class="btn-group btn-group-vertical btn-block">
                                <a href="{{ path('gift_edit', { 'id': gift.id }) }}" class="btn btn-default" role="button">
                                    <i class="fa fa-pencil"></i> Modifier
                                </a>
                                <a href="#" class="btn btn-success">
                                    <i class="fa fa-eye"></i> Plus de détails
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    <!-- grille pleine -->
        <div class="showGrid row" style="display: none">
            {% set cpt = 0 %}
            {% for child in entity.children %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        {%  if child.picture|trim != "" %}
                            {% if child.externalListLink|trim != "" %}
                                <a target="_blank" href="{{ child.externalListLink }}"
                                   style="display:block; padding:1em; padding-bottom: 0;">
                                    <img src="{{ child.picture }}" alt="{{ child.title }}"
                                         style="width:100%" >
                                </a>
                            {% else %}
                                <a href="{{ path('lists_show', { 'id': child.id }) }}"
                                   style="display:block; padding:1em; padding-bottom: 0;">
                                    <img src="{{ child.picture }}" alt="{{ child.title }}"
                                         style="width:100%" >
                                </a>
                            {% endif %}
                        {%  endif %}
                        <div class="caption">
                            <h3>{{ child.title }}</h3>
                            <p><i class="fa fa-quote-left"></i> <i class="fa fa-quote-right"></i> {{ child.description }}</p>

                            <p>
                                <a href="{{ path('lists_edit_sublist', { 'id': child.id }) }}"
                                   class="btn btn-default btn-block">
                                    <i class="fa fa-pencil"></i> Modifier
                                </a>
                                {% if child.externalListLink|trim != "" %}
                                    <a target="_blank" href="{{ child.externalListLink }}"
                                       class="btn btn-success btn-block">
                                        <i class="fa fa-external-link-square"></i> Voir la liste <small>(Site externe)</small>
                                    </a>

                                {% else %}
                                    <a href="{{ path('lists_show', { 'id': child.id }) }}"
                                       class="btn btn-success btn-block">
                                        <i class="fa fa-eye"></i> Plus de détails
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% set cpt = cpt + 1 %}
                {% if cpt is divisibleby(4) %}
                    {# case md #}
                    <div class="clearfix"></div>
                {% elseif cpt is divisibleby(2) %}
                    {# case sm #}
                    <div class="clearfix visible-sm hidden-md"></div>
                {% endif %}
            {% endfor %}

            {% for gift in entity.gifts %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        {%  if gift.picture|trim != "" %}
                            <a class="details"
                               style="display:block; padding:1em; padding-bottom: 0;">
                                <img src="{{ gift.picture }}" alt="{{ gift.name }}"
                                     style="width:100%" >
                            </a>
                            <div class="hide">
                                <div class="gift-id">{{ gift.id }}</div>
                                <div class="gift-name">{{ gift.name }}</div>
                                <div class="gift-link">{{ gift.link }}</div>
                                <div class="gift-description">{{ gift.description }}</div>
                                <div class="gift-img">{{ gift.picture }}</div>
                                <div class="gift-price">{{ gift.price }}</div>
                                <div class="gift-offer">{{ path('public_send_mail', { 'gift_id': gift.id }) }}</div>
                            </div>

                        {%  endif %}
                        <div class="caption">
                            <h3>{{ gift.name }}</h3>
                            <p>
                                <i class="fa fa-quote-left"></i> <i class="fa fa-quote-right"></i>
                                {{ gift.description|truncate(100) }}
                            </p>
                            {%  if gift.price is not empty %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="fa fa-money"></i> {{ gift.price }} €
                                    </div>
                                    {% if gift.numberOfParts > 1 %}
                                        <div class="col-md-6 right ">
                                            {{ gift.numberOfParts }} <i class="fa fa-pie-chart"></i> ({{ gift.partValue()}} €)
                                        </div>
                                    {% endif %}
                                </div>
                            {%  endif %}

                            {%  if gift.link is not empty %}
                                <a href="{{ gift.link }}" class="" role="button">
                                    <i class="fa fa-external-link"></i> Voir le site
                                </a>
                            {%  endif %}

                            <a href="{{ path('gift_edit', { 'id': gift.id }) }}"
                               class="btn btn-default btn-block" role="button">
                                <i class="fa fa-pencil"></i> Modifier
                            </a>

                            <a class="details btn btn-success btn-block">
                                <i class="fa fa-eye"></i> Plus de détails
                            </a>

                            <div class="hide">
                                <div class="gift-id">{{ gift.id }}</div>
                                <div class="gift-name">{{ gift.name }}</div>
                                <div class="gift-link">{{ gift.link }}</div>
                                <div class="gift-description">{{ gift.description }}</div>
                                <div class="gift-img">{{ gift.picture }}</div>
                                <div class="gift-price">{{ gift.price }}</div>
                                <div class="gift-offer">{{ path('public_send_mail', { 'gift_id': gift.id }) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set cpt = cpt + 1 %}
                {% if cpt is divisibleby(4) %}
                    {# case md #}
                    <div class="clearfix"></div>
                {% elseif cpt is divisibleby(2) %}
                    {# case sm #}
                    <div class="clearfix visible-sm hidden-md"></div>
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}

    <div id="fb-root"></div>
{% endblock %}


{% block page_script %}
<script type="text/javascript" >

function setCookie(key, value) {
    var expires = new Date();
    expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
}

function getCookie(key) {
    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
}

$(document).ready(function() {
    // Show list / grid
    $('#showInGrid').addClass("btn-info");
    $('#showInList').on('click', function() {
        setCookie('listView', 'showInList');
        $(this).addClass("btn-info");
        $(this).removeClass("btn-default");
        $('#showInGrid').removeClass("btn-info");
        $('#showInGrid').addClass("btn-default");
        $('.showGrid').hide('slow');
        $('.showList').show('slow');
    });
    $('#showInGrid').on('click', function() {
        setCookie('listView', 'showInGrid');
        $(this).addClass("btn-info");
        $(this).removeClass("btn-default");
        $('#showInList').removeClass("btn-info");
        $('#showInList').addClass("btn-default");

        $('.showList').hide('slow');
        $('.showGrid').show('slow');
    });
    var viewToShow = getCookie('listView');
    if (viewToShow != null) {
        $('#'+viewToShow).click();
    } else {
        $('#showInGrid').click();
    }


    // Details gift
    $('.details').on('click', function() {
        event.preventDefault();
        var gift = {
            id:             $(this).parent().parent().find('.gift-id').html(),
            name:           $(this).parent().parent().find('.gift-name').html(),
            description:    $(this).parent().parent().find('.gift-description').html(),
            link:           $(this).parent().parent().find('.gift-link').html(),
            price:          $(this).parent().parent().find('.gift-price').html(),
            img:            $(this).parent().parent().find('.gift-img').html(),
            offerLink:      $(this).parent().parent().find('.gift-offer').html()
        };

        $('#modalDetails .modal-title').text(gift.name);
        $('#modalDetails #detailGiftId').text(gift.id);
        $('#modalDetails #detailGiftName').text(gift.name);
        $('#modalDetails #detailGiftDescription').html(gift.description);
        $('#modalDetails #detailGiftLink').attr('href', gift.link);
        $('#modalDetails #detailGiftPrice').text(gift.price);
        $('#modalDetails #detailGiftImg').attr('src', gift.img);
        $('#modalDetails #detailGiftForm').attr('action', gift.offerLink);

        if (!gift.img)   { $('#offerShowImg').hide();   } else { $('#offerShowImg').show(); }
        if (!gift.price) { $('#offerShowPrice').hide(); } else { $('#offerShowPrice').show(); }
        if (!gift.link)  { $('#offerShowLink').hide(); }  else { $('#offerShowLink').show(); }

        $('#modalDetails').modal('show');
    });
});

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=104528756291510&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'fr'}
</script>
{% endblock %}
