{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="fos_user_user_show">
        <h3>Profile</h3>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        {#% render 'FOSUserBundle:Profile:edit' %#}
    </div>


    <h3>Compte bancaire</h3>
    <div class="row">
        <div class="col-md-6">

            <h4>Comptes enregistré</h4>
            {% for accountNumber in user.bankaccounts %}
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-danger removeBankAccount"
                                data-id="{{ accountNumber.id }}"
                                data-deletelink="{{ path('bankAccount_confirmDelete', {'id': accountNumber.id}) }}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <div class="col-md-11">

                        {{ accountNumber.number }} : {{ accountNumber.description }}<br />
                        <ul>
                            <li>{{ accountNumber.beneficiary1 }}</li>
                            {% if not accountNumber.beneficiary2 is empty %}
                                <li>{{ accountNumber.beneficiary2 }}</li>
                            {%  endif %}
                            {% if not accountNumber.beneficiary3 is empty  %}
                                <li>{{ accountNumber.beneficiary3 }}</li>
                            {%  endif %}
                            {% if not accountNumber.beneficiary4 is empty  %}
                                <li>{{ accountNumber.beneficiary4 }}</li>
                            {% endif %}
                        </ul>
                    </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if user.bankaccounts|length == 0 %}
                Vous n'avez pas encore enregistrer de compte bancaire.
            {% endif %}
        </div>
        <div class="col-md-6 ">
            <h4>Ajouter un compte</h4>
            <form action="{{ path('profile_createBankAccount', {'user_id': user.id}) }}"
                  method="POST" class="form form-horizontal">

                {% macro inputBankAccount(label, formField) %}
                    {%  if form_errors(formField)|length == 0 %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ label }}</label>
                            <div class="col-sm-8">
                                {{ form_widget(formField) }}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group has-error has-feedback">
                            <label class="col-sm-4 control-label">
                                {{ label }} <i class="fa fa-remove"></i>
                            </label>
                            <div class="col-sm-8">
                                {{ form_widget(formField) }}
                                {{ form_errors(formField) }}
                            </div>
                        </div>
                    {% endif %}
                {% endmacro %}
                {% import _self as forms %}
                {{ forms.inputBankAccount("IBAN", bankAccountForm.number) }}
                {{ forms.inputBankAccount("Description", bankAccountForm.description) }}
                {{ forms.inputBankAccount("Nom du bénéficiare 1", bankAccountForm.beneficiary1) }}
                {{ forms.inputBankAccount("Nom du bénéficiare 2", bankAccountForm.beneficiary2) }}
                {{ forms.inputBankAccount("Nom du bénéficiare 3", bankAccountForm.beneficiary3) }}
                {{ forms.inputBankAccount("Nom du bénéficiare 4", bankAccountForm.beneficiary4) }}

                {{ form_rest(bankAccountForm) }}

                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Enregistrer
                </button>
            </form>
        </div>
    </div>

    <div id="modalDelete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suppression compte bancaire</h4>
                </div>
                <div id="modal-body-delete" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock fos_user_content %}


{% block page_script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.removeBankAccount').on('click', function () {
            console.log($(this));
            console.log($(this).data("id"));
            console.log($(this).data("deletelink"));
            var deleteLink = $(this).data("deletelink");
            $.ajax({
                method: "GET",
                url: deleteLink,
                dataType: 'html',
                success: function( msg ) {
                        $('#modal-body-delete').html(msg);
                    },
                fail: function(data) {
                    alert( "error" +data);
                }
            });

            $('#modalDelete').modal('show');
        });
    });
</script>
{% endblock page_script %}