<!doctype html>
<html class="no-js" lang="{{ app.request.locale }}"  ng-controller="HtmlController as htmlCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}[[htmlCtrl.head.siteTitle]]{% endblock %}</title>
    <meta name="description" content="[[htmlCtrl.head.siteDescription]]">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
{#
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
#}
    <!-- CSS files -->

    <!-- palas -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic|Montserrat:400,700' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/css/libs/palas/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/libs/palas/rs-plugin/settings.css" media="screen">
    <link rel="stylesheet" href="/assets/css/libs/jquery/owl.carousel.css">

    <link rel="stylesheet" href="/assets/css/libs/palas/style.css">
    <link rel="stylesheet" href="/assets/css/libs/palas/colors/yellow.css">

    <!-- Angular CSS file -->
    <link rel="stylesheet" href="/assets/css/libs/angular/loading-bar.css">
    <link rel="stylesheet" href="/assets/css/libs/font-awesome.css">

    <!-- Main CSS file -->
    <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body ng-controller="BodyController as bodyCtrl">
<!--[if lt IE 8]>
<p class="browserupgrade">Vous utilisez un un navigateur <strong>dépassé</strong>.
    Veuillez <a href="http://browsehappy.com/">mettre à jour votre navigateur</a>
    pour améliorer votre expérience.</p>

<p class="browserupgrade">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="preloader">
    <div id="giftLoader" class="fa-stack fa-lg">
          <i class="fa fa-spinner fa-stack-2x"></i>
          <i class="fa fa-spin fa-gift fa-stack-1x"></i>
    </div>
</div>

<!-- Global Wrapper -->
<div id="wrapper">
    {% include ('ManudevKDOGuiBundle:base:topBar.html.twig') %}
    {% include ('ManudevKDOGuiBundle:base:header.html.twig') %}

    {% block content %}{% endblock %}

    {% include ('ManudevKDOGuiBundle:base:footer.html.twig') %}

</div>

{#
<!-- Palas JS file -->
<script src="{{ asset('assets/libs/palas/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/jquery.appear.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/retina.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/stellar.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/sticky.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/plugins/isotope/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/libs/palas/palas.js') }}"></script>
#}

<script type="text/javascript"
        src="{{ asset('assets/js/libs/require.js') }}"
        data-main="{{ asset('assets/js/main.js') }}"></script>


<!-- Google Analytic -->
{% if google['analytics'] is defined %}
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ google['analytics']}} }}','auto');ga('send','pageview');
</script>
{% endif %}

</body>
</html>
