<h1>Condition générale d'utilisation</h1>



{{ '{{ main.product.name }}' }}

<section id="#content" ng-controller="TermsController as terms">
    {{ '{{ terms.name }}' }}
    {{ '{{ main.product.name }}' }}
</section>