{% extends '::base.html.twig' %}
{% set cpt = 0 %}

{% macro progressBar ( givedParts, reservedParts, numberOfParts ) %}
    {% set percentGived = givedParts / numberOfParts * 100 %}
    {% set percentReserved = reservedParts / numberOfParts * 100 %}
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="{{ percentGived }}" aria-valuemin="0" aria-valuemax="100"
             style="width: {{ percentGived }}%;"
             data-toggle="tooltip" data-placement="top" title="Parts déjà offertes">
            {{ givedParts }} / {{ numberOfParts }} <i class="fa fa-pie-chart"></i>
        </div>
        <div class="progress-bar progress-bar-warning " role="progressbar"
             aria-valuenow="{{ percentReserved }}" aria-valuemin="0" aria-valuemax="100"
             style="width: {{ percentReserved }}%;"
             data-toggle="tooltip" data-placement="top" title="Parts réservées">
            {{ reservedParts }} <i class="fa fa-pie-chart"></i>
        </div>
    </div>
{% endmacro %}
{% import _self as macr %}

{% block headline %}
    <div class="right" style="float: right">
        {% if entity.parent is not empty %}
            <a class="btn btn-default" href="{{ path('public_list', { 'list_id': entity.parent.id, 'slug': entity.parent.slug }) }}">
                <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Retour à {{ entity.parent }}
            </a>
        {% endif %}

    </div>
    {{ entity.title }} <small>{{ entity.subTitle }}</small>
{% endblock headline %}
{% block content_content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ entity.picture }}" alt="{{ entity.title }}"
                         class="img-thumbnail"  style="width:250px">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {% if entity.gifts|length != 0 or entity.children|length != 0 %}
                            <div class="col-md-9">
                        {% else %}
                            <div class="col-md-12">
                        {% endif %}
                            <ol class="breadcrumb">
                                {% for parent in parents %}
                                    <li>
                                        <a href="{{ url('public_list', { 'list_id': parent.id, 'slug': parent.slug }) }}">
                                            {{ parent }}
                                        </a>
                                    </li>
                                {% endfor %}
                                <li class="active">{{ entity.title }}</li>
                            </ol>
                        </div>
                        {% if entity.gifts|length != 0 or entity.children|length != 0 %}
                            <div class="col-md-3">
                                <div style="float:right" class="btn-group" alt="toto">
                                    <a class="btn btn-default" id="showInList" href="javascript:void(0)">
                                        <i class="fa fa-list"></i> Liste
                                    </a>
                                    <a class="btn btn-default" id="showInGrid" href="javascript:void(0)">
                                        <i class="fa fa-th"></i> Grille
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ entity.description |nl2br}}
                            <br />
                            <br />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            Progression des cadeaux:
                            <div class="progress">
                                <div class="progress-bar progress-bar-success center" role="progressbar"
                                     aria-valuenow="{{ entity.percentGived() }}" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ entity.percentGived() }}%; min-width: 2em;">
                                    {{ entity.percentGived()|round('2', 'floor') }} %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if entity.gifts|length == 0 and entity.children|length == 0 %}
        <!-- Liste vide -->
        <div class="panel panel-info">
            <div class="panel-heading">
                Trop tard... Ou trop tôt...
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2" style="font-size: 10em; text-align: center;">
                        <i class="fa fa-gift"></i>
                    </div>
                    <div class="col-md-10">
                        Vous arrivez trop tard, cette liste est vide parce que d'autres personnes ont déjà tout offert !
                        <br />
                        Ou alors, vous arrivez trop tôt et aucun cadeau n'est déjà demandé ?
                        <br />
                        Dans les deux cas, vous devrez repasser plus tard...
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Liste pleine liste-->
        <div class="showList panel panel-default" style="display: none">
            <ul class="list-group">
                {% for child in entity.children %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-1" >
                                <div class="thumbnail">
                                    {% if child.externalListLink|trim != "" %}
                                        <a target="_blank" href="{{ child.externalListLink }}">
                                            <img src="{{ child.picture }}"  style="width:100%" />
                                        </a>
                                    {% else %}
                                        <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}">
                                            <img src="{{ child.picture }}"  style="width:100%" />
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>{{ child.title }}</h4>
                                {{ child.description|truncate(100)|nl2br }}
                            </div>
                            <div class="col-md-3">
                                {% if child.externalListLink|trim != "" %}
                                    <a target="_blank" href="{{ child.externalListLink }}"
                                       class="btn btn-success btn-block">
                                        <i class="fa fa-external-link-square"></i> Plus de détails
                                    </a>
                                {% else %}
                                    <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}"
                                       class="btn btn-success btn-block">
                                        <i class="fa fa-eye"></i> Plus de détails
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}

                {% for gift in entity.availableGifts() %}
                    <li class="list-group-item offer"
                        data-link="{{ path('popup_offer_gift', {'id': gift.id}) }}">
                        <div class="row">
                            <div class="col-md-1">
                                {% if gift.picture != "" %}
                                    <div class="thumbnail" >
                                        <img src="{{ gift.picture }}" style="width:100%" />
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <h4>{{ gift.name }}</h4>
                                {{ gift.description|truncate(100)|nl2br }}
                                {% if gift.price is not empty %}
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6 right">
                                            <i class="fa fa-money"></i> {{ gift.price }} € (par part de {{ gift.partValue() }} €)
                                        </div>
                                        <div class="col-md-5">
                                            {% if gift.numberOfParts >= 2 %}
                                                {{ macr.progressBar( gift.givedParts, gift.totalReserved(), gift.numberOfParts ) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary btn-block" role="button">
                                    <i class="fa fa-search"></i> <i class="fa fa-gift"></i> Offrir / Plus de détails
                                </button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Liste pleine grille-->
        <div class="showGrid row">
            {% set cpt = 0 %}
            {% for child in entity.children %}
                <div class="col-md-3 col-sm-6 col-xs12">
                    <div class="thumbnail">
                        {% if child.picture|trim != "" %}
                            {% if child.externalListLink|trim != "" %}
                                <a target="_blank" href="{{ child.externalListLink }}"
                                   style="display:block; padding:1em; padding-bottom: 0;">
                                    <img src="{{ child.picture }}" alt="{{ child.title }}"
                                         style="width:100%;" >
                                </a>
                            {% else %}
                                <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}"
                                   style="display:block; padding:1em; padding-bottom: 0;">
                                    <img src="{{ child.picture }}" alt="{{ child.title }}"
                                         style="width:100%;" >
                                </a>
                            {% endif %}
                        {% endif %}
                        <div class="caption">
                            <h3>{{ child.title }}</h3>
                            <p>
                                <i class="fa fa-quote-left"></i> <i class="fa fa-quote-right"></i>
                                {{ child.description |truncate(100)|nl2br}}
                            </p>
                            {% if child.externalListLink|trim != "" %}
                                <a target="_blank" href="{{ child.externalListLink }}"
                                   class="btn btn-success btn-block">
                                    <i class="fa fa-external-link-square"></i> Voir la liste <small>(Site externe)</small>
                                </a>
                            {% else %}
                                <a href="{{ path('public_list', { 'list_id': child.id, 'slug': child.slug }) }}"
                                   class="btn btn-success btn-block">
                                    <i class="fa fa-eye"></i> Voir la liste
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% set cpt = cpt + 1 %}
                {% if cpt is divisibleby(4) %}
                    {# case md #}
                    <div class="clearfix"></div>
                {% elseif cpt is divisibleby(2) %}
                    {# case sm #}
                    <div class="clearfix visible-sm hidden-md"></div>
                {% endif %}
            {% endfor %}

            {% for gift in entity.availableGifts() %}
                <div class="col-md-3 col-sm-6 col-xs12 offer"
                     data-link="{{ path('popup_offer_gift', {'id': gift.id}) }}">
                    <div class="thumbnail">
                        {% if gift.picture|trim != "" %}
                            <div style="display:block; padding:1em; padding-bottom: 0;">
                                <img src="{{ gift.picture }}" alt="{{ gift.name }}"
                                     style="width:100%;" >
                            </div>
                        {% endif %}
                        <div class="caption ">
                            <h3>{{ gift.name }}</h3>
                            {% if gift.description is not empty %}
                                <p style="text-align: justify">
                                    <i class="fa fa-quote-left"></i>
                                    <i class="fa fa-quote-right"></i>
                                    {{ gift.description | truncate(100)|nl2br }}
                                </p>
                            {% endif %}
                            {% if gift.price is not empty %}
                                {% if gift.numberOfParts == 1 %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-money"></i> {{ gift.price }} €
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-money"></i> {{ gift.price }} €
                                            ({{ gift.numberOfParts }} <i class="fa fa-pie-chart"></i> parts de {{ gift.partValue() }} €)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Parts déjà offertes:
                                            {{ macr.progressBar( gift.givedParts, gift.totalReserved(), gift.numberOfParts ) }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if gift.link is not empty %}
                                <p>
                                    <a href="{{ gift.link }}" role="button">
                                        <i class="fa fa-external-link"></i> Voir le site
                                    </a>
                                </p>
                            {% endif %}
                            <button class="btn btn-primary btn-block"
                                    role="button">
                                <i class="fa fa-search"></i> <i class="fa fa-gift"></i> Offrir / Plus de détails
                            </button>
                        </div>
                    </div>
                </div>
                {% set cpt = cpt + 1 %}
                {% if cpt is divisibleby(4) %}
                    {# case md #}
                    <div class="clearfix"></div>
                {% elseif cpt is divisibleby(2) %}
                    {# case sm #}
                    <div class="clearfix visible-sm hidden-md"></div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Liste vide -->
        {% if entity.noneAvailableGifts() | length >= 1 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-body">
                        <h3>Les cadeaux suivants sont réservés ou ont déjà étés offerts.</h3>
                    </div>
                </div>
            </div>

            <!-- Liste vide grille -->
            <div class="showGrid row" style="display: none">
                {% set cpt = 0 %}
                {% for gift in entity.noneAvailableGifts() %}
                    <div class="col-md-3 col-sm-6 col-xs12 offer">
                        <div class="thumbnail">
                            {% if gift.picture|trim != "" %}
                                <div style="display:block; padding:1em; padding-bottom: 0;">
                                    <img src="{{ gift.picture }}" alt="{{ gift.name }}"
                                         style="width:100%;" >
                                </div>
                            {% endif %}
                            <div class="caption ">
                                <h3>{{ gift.name }}</h3>
                                {% if gift.description is not empty %}
                                    <p style="text-align: justify">
                                        <i class="fa fa-quote-left"></i>
                                        <i class="fa fa-quote-right"></i>
                                        {{ gift.description | truncate(100)|nl2br }}
                                    </p>
                                {% endif %}
                                {% if gift.price is not empty %}
                                    {% if gift.numberOfParts == 1 %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-money"></i> {{ gift.price }} €
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-money"></i> {{ gift.price }} € (par part de {{ gift.partValue() }} €)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                Parts déjà offertes:
                                                {{ macr.progressBar( gift.givedParts, gift.totalReserved(), gift.numberOfParts ) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if gift.link is not empty %}
                                    <p>
                                        <a href="{{ gift.link }}" role="button">
                                            <i class="fa fa-external-link"></i> Voir le site
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% set cpt = cpt + 1 %}
                    {% if cpt is divisibleby(4) %}
                        {# case md #}
                        <div class="clearfix"></div>
                    {% elseif cpt is divisibleby(2) %}
                        {# case sm #}
                        <div class="clearfix visible-sm hidden-md"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Liste vide liste -->
            <div class="showList panel panel-default" style="display: none">
                <ul class="list-group">
                    {% for gift in entity.noneAvailableGifts() %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-1">
                                    {% if gift.picture != "" %}
                                        <div class="thumbnail" >
                                            <img src="{{ gift.picture }}"
                                                  style="width:100%" />
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <h4>{{ gift.name }}</h4>
                                    {{ gift.description|truncate(100)|nl2br }}

                                    {% if gift.price is not empty %}
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 right">
                                                <i class="fa fa-money"></i> {{ gift.price }} € (par part de {{ gift.partValue() }} €)
                                            </div>
                                            <div class="col-md-5">
                                                {% if gift.numberOfParts >= 2 %}
                                                    {{ macr.progressBar( gift.givedParts, gift.totalReserved(), gift.numberOfParts ) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {%  endif %}

    <!-- popup offer form -->
    <div id="showOfferForm"></div>

    <div style="text-align: center;">
{#
        <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=kdolist-21&o=8&p=48&l=ez&f=ifr&f=ifr" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
        <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=kdolist-21&o=8&p=48&l=ur1&category=generic&banner=04STT8487M4Y6AJ773R2&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
#}
{#
        <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=kdolist-21&o=8&p=48&l=ur1&category=gift_certificates&banner=1FRDGNQKNPQV59SZXMG2&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
#}
    </div>



{% endblock %}


{% block page_script %}

<script type="text/javascript" >

    function setCookie(key, value) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
    }

    function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
        return pattern.test(emailAddress);
    }

    function isInt(n) {
        return ((n % 1) === 0);
    }

    function formIsValid() {
        var success = true;
        if (($('#formFirstName > input').val()).trim() == "") {
            success = false;
            $('#formFirstName').addClass('has-error');
            $('#formFirstName').popover({
                'title' : '<strong style="color: red;">Erreur</strong>',
                'content' : 'Veuillez écrire votre prénom.',
                'html' : true,
                'placement' : 'left'
            }).popover('show');
            $('#formFirstName').click(function(){
                $('#formFirstName').popover('hide');
                $('#formFirstName').removeClass('has-error');
            });
        }

        if (($('#formLastName > input').val()).trim() == "") {
            success = false;
            $('#formLastName').addClass('has-error');

            $('#formLastName').popover({
                'title' : '<strong style="color: red;">Erreur</strong>',
                'content' : 'Veuillez écrire votre nom.',
                'html' : true,
                'placement' : 'top'
            }).popover('show');
            $('#formLastName').click(function(){
                $('#formLastName').popover('hide');
                $('#formLastName').removeClass('has-error');
            });
        }

        if (!isValidEmailAddress($('#formEmail > input').val())) {
            success = false;
            $('#formEmail').addClass('has-error');
            $('#formEmail input').popover({
                'title' : '<strong style="color: red;">Erreur</strong>',
                'content' : 'L\'adresse email n\'est pas valide.',
                'html' : true,
                'placement' : 'right'
            }).popover('show');
            $('#formEmail').click(function(){
                $('#formEmail').popover('hide');
                $('#formEmail').removeClass('has-error');
            });
        }

        var nbParts = $('#formNumberOfParts > input').val();
        if (typeof(nbParts) != "undefined") {
            nbParts = (nbParts).trim();
            var min = $('#formNumberOfParts > input').attr('min');
            var max = $('#formNumberOfParts > input').attr('max');

            if (!isInt(nbParts) || nbParts < min || nbParts > max) {
                success = false;
                $('#formNumberOfParts').addClass('has-error');
                $('#formNumberOfParts').popover({
                    'title': '<strong style="color: red;">Erreur</strong>',
                    'content': 'Le nombre de part doit être un nombre entier entre ' + min + ' et ' + max + ' compris.',
                    'html': true,
                    'placement': 'bottom'
                }).popover('show');
                $('#formNumberOfParts').click(function () {
                    $('#formNumberOfParts').popover('hide');
                    $('#formNumberOfParts').removeClass('has-error');
                });
            }
        }
        return success;
    }

    $(document).ready(function() {

        // Offer gift
        $('.offer').on('click', function() {
            //event.preventDefault();
            var link = $(this).data('link');
            $.ajax({
                url: link,
                dataType: 'html',
                method: 'GET',
                success: function (data) {
                    $('#showOfferForm').html(data);
                    $("#submitFormOffer").on('click', function () {
                        var button = $('#submitFormOffer');
                        button.attr("disabled", "disabled")
                            .html("<i class=\"fa fa-spinner fa-spin\"></i> Offrir");

                        window.setTimeout(function() {
                            button.html("<i class=\"fa fa-gift\"></i> Offrir")
                                .removeAttr("disabled");
                        }, 5000);

                        if(formIsValid()) {
                            $('#formOffer > form').submit();
                        }
                    });
                    $('#modalOffer').modal('show');
                }
            });
        });

        $('#showOfferForm').on('keyup', '#numberOfParts input', function() {
            var value = $(this).val();
            var partValue = $('#counter').data('counter');
            $('#counter').text(value);
            var res = value * partValue;
            $('#counter-value').text(res);
        });

        // Click on row
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });

        // Show list / grid
        $('#showInGrid').addClass("btn-info");

        $('#showInList').on('click', function() {
            setCookie('listView', 'showInList');
            $(this).addClass("btn-info");
            $(this).removeClass("btn-default");
            $('#showInGrid').removeClass("btn-info");
            $('#showInGrid').addClass("btn-default");
            $('.showGrid').hide('slow');
            $('.showList').show('slow');
        });
        $('#showInGrid').on('click', function() {
            setCookie('listView', 'showInGrid');
            $(this).addClass("btn-info");
            $(this).removeClass("btn-default");
            $('#showInList').removeClass("btn-info");
            $('#showInList').addClass("btn-default");

            $('.showList').hide('slow');
            $('.showGrid').show('slow');
        });

        var viewToShow = getCookie('listView');
        if (viewToShow != null) {
            $('#'+viewToShow).click();
        } else {
            $('#showInGrid').click();
        }

    });
    </script>
{% endblock %}
