<html>
    <head></head>
    <body>
        <p>
            Bonjour {{ firstName }},<br />
            Vous souhaitez offrir le cadeau "{{ gift.name }}".
        </p>
        <p>
            {{ gift.description }}
        </p>
        <br />
        <img src="{{ picture }}" width="150px"/>

        {% if gift.getNumberOfParts > 1 and gift.price is not null%}
            <p>
                Le cadeau est composé de plusieurs parts et vous avez choisi d'en offrir {{ numberOfParts }}.<br />
                Le montant d'une part est de {{ gift.partValue() }}€.<br />
                Le montant du cadeau est donc de {{ numberOfParts }} * {{ gift.partValue() }}€ = {{ price }}€
            </p>
        {% elseif price is not null %}
            <p>
                Montant du cadeau : {{ price }} €
            </p>
        {% endif %}

        {% if not gift.list.getRootParent().bankaccount is empty %}
            <p>
                S'il n'est pas possible de donner le cadeau en main propre ou si c'est plus facile pour vous, <br />
                vous pouvez faire un virement sur le numéro de compte :<br />
                {% set iban = gift.list.getRootParent().bankaccount %}
                <strong>
                    {{ iban }}
                </strong><br />
                Bénéficiaire : <br />
                {{ iban.beneficiary1 }}<br />
                {% if not iban.beneficiary2 is empty %}
                    {{ iban.beneficiary2 }}<br />
                {% endif %}
                {% if not iban.beneficiary3 is empty %}
                    {{ iban.beneficiary3 }}<br />
                {% endif %}
                {% if not iban.beneficiary4 is empty %}
                    {{ iban.beneficiary4 }}<br />
                {% endif %}<br />
                N'hésitez pas à laisser un petit message de communication.
            </p>
        {% endif %}

        <p>
            Afin que personne d'autre ne puisse offrir ce cadeau,<br />
            veuillez confirmer que vous offrez ce cadeau en cliquant sur ce lien: <br />
            <a href="{{ url }}">{{ url }}</a>.
        </p>
        <p>
            Vous vous êtes trompé ? <br />
            Vous pouvez annuler votre réservation en cliquant sur ce lien :<br />
            <a href="{{ urlCancel }}">{{ urlCancel }}</a><br />
            <br />
            (Remarque : Les virements réalisés sont faits sur le compte du destinataire,
            à savoir la personne à qui vous offrez le cadeau.<br />
            Il nous (kdolist) est impossible d'annuler ces virements.)
        </p>

    </body>
</html>