<html>
    <head></head>
    <body>
        <p>
            Bonjour {{ firstName }},<br />
            Vous souhaitez offrir {{ gift.name }}
            {%  if not entity.owners is empty or not entity.users|first.firstname is empty%}
                à
                {% if entity.owners|length == 0 %}
                    {% set users = entity.users %}
                {% else %}
                    {% set users = entity.owners %}
                {% endif %}
                {% for user in users %}
                    {% if user != users|first %}
                        {% if users|length == 2 %}
                            et
                        {% else %}
                            ,
                        {% endif %}
                    {% endif %}
                    {{ user.firstname|capitalize }} {{ user.lastname|capitalize }}
                {% endfor %}
            {% endif %}.
        </p>
        <p>
            {{ gift.description }}
        </p>
        <br />
        <img src="{{ picture }}" width="150px"/>


        {%  if not gift.list.getRootParent().bankaccount is empty %}
            <p>
                S'il n'est pas possible de donner le cadeau en main propre,<br />
                vous pouvez faire un virement sur le numéro de compte :<br />
                {% set iban = gift.list.getRootParent().bankaccount %}
                <strong>
                    {{ iban }}
                </strong><br />
                Bénéficiaire : <br />
                {{ iban.beneficiary1 }}<br />
                {% if not iban.beneficiary2 is empty %}
                    {{ iban.beneficiary2 }}<br />
                {% endif %}
                {% if not iban.beneficiary3 is empty %}
                    {{ iban.beneficiary3 }}<br />
                {% endif %}
                {% if not iban.beneficiary4 is empty %}
                    {{ iban.beneficiary4 }}<br />
                {% endif %}
            </p>
        {% endif %}

        <p>
            Afin que personne d'autre ne puisse offrir ce cadeau,<br />
            veuillez confirmer que vous offrez ce cadeau en cliquant sur ce lien:
        </p>

    </body>
</html>