{% extends '::base.html.twig' %}

{% block content_content %}
    <h1>Gift list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Link</th>
                <th>Price</th>
                <th>List</th>
                <th>Issecondhand</th>
                <th>Givemoney</th>
                <th>Acceptemultipleparts</th>
                <th>Numberofparts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gift_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.link }}</td>
                <td>{{ entity.price }}</td>
                <td>{% for list in entity.list %}list.name{% endfor %}</td>
                <td>{{ entity.isSecondHand }}</td>
                <td>{{ entity.giveMoney }}</td>
                <td>{{ entity.accepteMultipleParts }}</td>
                <td>{{ entity.numberOfParts }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gift_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('gift_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gift_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
