{% extends '::base.html.twig' %}

{% block content_content %}
    <h1>Gift</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ entity.picture }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>List</th>
                <td>{% for list in entity.list %}list.name{% endfor %}</td>
            </tr>
            <tr>
                <th>Issecondhand</th>
                <td>{{ entity.isSecondHand }}</td>
            </tr>
            <tr>
                <th>Givemoney</th>
                <td>{{ entity.giveMoney }}</td>
            </tr>
            <tr>
                <th>Acceptemultipleparts</th>
                <td>{{ entity.accepteMultipleParts }}</td>
            </tr>
            <tr>
                <th>Numberofparts</th>
                <td>{{ entity.numberOfParts }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('gift') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('gift_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
    </ul>
    {{ form(delete_form) }}
{% endblock %}
